[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "autocogs"]
	path = autocogs
	url = https://github.com/schloerke/autocogs
	shallow = true
	registered = true
[submodule "geozoo"]
	path = geozoo
	url = https://github.com/schloerke/geozoo
	shallow = true
	registered = true
[submodule "gqlr"]
	path = gqlr
	url = https://github.com/schloerke/gqlr
	shallow = true
	registered = true
